<fieldset>
  
  <div>
    <h2>Plan</h2>
    <p>You are signing up for the <strong>Default</strong> plan.</p>
    <table>
      <tr><td>Price: </td><td>$10/month</td></tr>
      <tr><td>Free bandwidth: </td><td>10 GB</td></tr>
      <tr><td>Price per GB: </td><td>$0.20</td></tr>
    </table>
  </div>
  
  <h2>Enter your card details.</h2>
    
  <%= f.hidden_field :stripe_card_token %>
  <div id="stripe_error">
    <noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
  </div>
  <div class="field">
    
    <% @card_number = Rails.env.development? ? '4242424242424242' : nil %>
    <% @card_code = Rails.env.development? ? '123' : nil %>
    <% @expiry_month = Rails.env.development? ? Date.today.month + 1 : nil %>
    
    <%= label_tag :card_number, "Credit Card Number" %>
    <%= text_field_tag :card_number, @card_number, name: nil %>
  </div>
  <div class="field">
    <%= label_tag :card_code, "Security Code on Card (CVV)" %>
    <%= text_field_tag :card_code, @card_code, name: nil %>
  </div>
  <div class="field">
    <%= label_tag :card_month, "Card Expiration" %>
    <%= select_month @expiry_month, {add_month_numbers: true}, {name: nil, id: "card_month"} %>
    <%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"} %>
  </div>
</fieldset>

<br />
<br />

<fieldset>
  <%= f.label :coupon %>
  <%= f.text_field :coupon %>
</fieldset>
